@page "/categories"
@using BlazorApp1.DTOs
<h3>index</h3>
@inject ProductService ProductService

<h3>Products</h3>

@if (_products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in _products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.CategoryName</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<ProductDto>? _products;

    protected override async Task OnInitializedAsync()
    {
        _products = await ProductService.GetAllProductsAsync();
    }
}
