@page "/"

<PageTitle>Index</PageTitle>

<h1>Nguyễn Huỳnh Nam!</h1>

<p>
    <a href="https://github.com/natwodev" target="_blank">GitHub</a>
    |
    <a href="https://www.facebook.com/natwo.2" target="_blank">Facebook</a>
</p>
